<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>

<h1>Login</h1>
<img th:src="@{/images/logo.jpg}"/>

<div th:if="${param.error}" style="color: red">
  Wrong username or password
</div>

<p>New here? Click
  <a th:href="@{/register}">here</a> to register
</p>

<form method="post" th:action="@{/login}" id="loginForm">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
  <label for="username">Username: </label>
  <input type="text" name="username" id="username">
  <br>
  <label for="password">Password: </label>
  <input type="password" name="password" id="password">
  <br>
  <input type="submit" value="login">
</form>

</body>
</html>