<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/styles/styles.css}"/>
    <link rel="stylesheet" th:href="@{/styles/registration.css}"/>
</head>
<body>
<header>
    <a th:href="@{/}">
        <img th:src="@{/images/logo.jpg}" alt="Logo">
    </a>
    <a class="logout-button" th:href="@{/login}">Login</a>
    <a class="logout-button" th:href="@{/register}">Register</a>
    <a class="logout-button" th:href="@{/admin}">Admin</a>
    <a class="logout-button" th:href="@{/design}">Design</a>
    <h1>Taco Cloud</h1>
</header>
<main>
<h1>Register</h1>
<form method="post" th:action="@{/register}" id="registerForm" th:object="${client}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <label for="username">Username: </label>
    <input type="text" name="username" th:field="*{username}"/><br/>
    <span class="validationError" style="color: red"
          th:if="${#fields.hasErrors('username')}"
          th:errors="*{username}">Username Error</span>
    <br>

    <label for="password">Password: </label>
    <input type="password" name="password" th:field="*{password}"/><br/>
    <span class="validationError" style="color: red"
          th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}">Password Error</span>
    <br>

    <label for="fullname">Full name: </label>
    <input type="text" name="fullname" th:field="*{fullname}"/><br/>
    <span class="validationError" style="color: red"
          th:if="${#fields.hasErrors('fullname')}"
          th:errors="*{fullname}">Name Error</span>
    <br>

    <label for="phoneNumber">Phone: </label>
    <input type="text" name="phoneNumber" th:field="*{phoneNumber}"/><br/>
    <span class="validationError" style="color: red"
          th:if="${#fields.hasErrors('phoneNumber')}"
          th:errors="*{phoneNumber}">Phone Error</span>
    <br>

    <input type="submit" value="Register"/>

</form>
</main>
<footer>

</footer>
</body>
</html>